pipeline/p_Master.json
{
	"name": "p_Master",
	"properties": {
		"activities": [
			{
				"name": "Execute p_General",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_Previous_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "p_General",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dayToLoad": "7",
						"silver_storage_databricks": {
							"value": "@concat('/Repos/development_repository/notebooks-databricks-dev/Lakehouse/Silver/')",
							"type": "Expression"
						},
						"gold_storage_databricks": {
							"value": "@concat('/Repos/development_repository/notebooks-databricks-dev/Lakehouse/Gold/')",
							"type": "Expression"
						},
						"dwh_storage_databricks": {
							"value": "@concat('/Repos/development_repository/notebooks-databricks-dev/Lakehouse/DWH/')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Succesfully Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_Get_After_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-96.westeurope.logic.azure.com:443/workflows/421b78d3946b475d962d9cfbea4c0899/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=A1vnMT0ZUVltAWLpmQ4qU6Z3ggPqz0MSz-O0hrdjHn8",
					"body": {
						"value": "{\n  \"title\": \"PIPELINE RUN FINISHED\",\n  \"message\": \"PIPELINE FINISHED RUNNING SUCCESSFULLY!\",\n  \"color\": \"Green\",\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"pipelineRunId\": \"@{pipeline().RunId}\",\n  \"time\": \"@{utcNow()}\",\n  \"details\": {\n    \"previous_counts\": \"@{join(variables('previous_counts'), ', ')}\",\n    \"after_counts\": \"@{join(variables('after_counts'), ', ')}\",\n    \"inserted_records\": \"@{join(variables('inserted_records'), ', ')}\"\n  }\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send Failed Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute p_General",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-96.westeurope.logic.azure.com:443/workflows/421b78d3946b475d962d9cfbea4c0899/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=A1vnMT0ZUVltAWLpmQ4qU6Z3ggPqz0MSz-O0hrdjHn8",
					"body": {
						"value": "{\n  \"title\": \"PIPELINE RUN FAILED\",\n  \"message\": \"@{activity('Execute p_General').error.message}\n  El pipeline ha fallado en una de sus actividades. Revisa los detalles en ADF.\",\n  \"color\": \"Red\",\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"pipelineRunId\": \"@{pipeline().RunId}\",\n  \"time\": \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_Previous_Count",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table_list')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get_Previous_Count",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "SELECT COUNT(*) AS record_count FROM @{item()}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_PostgreSql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "public",
										"table": "fctventa"
									}
								}
							}
						},
						{
							"name": "previous_counts",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get_Previous_Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "previous_counts",
								"value": {
									"value": "{\n  \"Tabla\": \"@{item()}\",\n  \"RegistrosIniciales\": \"@{activity('Get_Previous_Count').output.firstRow.record_count}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach_Get_After_Count",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Execute p_General",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table_list')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get_After_Count",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "SELECT COUNT(*) AS record_count FROM @{item()}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_PostgreSql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "public",
										"table": "fctventa"
									}
								}
							}
						},
						{
							"name": "Append_After_Count",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get_After_Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "after_counts",
								"value": {
									"value": "@concat(\n    'Tabla: ', item(), \n    ' - Registros Finales: ', \n    string(\n        if(empty(activity('Get_After_Count').output.firstRow.record_count), \n           0, \n           activity('Get_After_Count').output.firstRow.record_count)\n    ),\n    '\\n'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append_Inserted_Records",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Append_After_Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "inserted_records",
								"value": {
									"value": "@concat(\n    'Tabla: ', item(), \n    ' - Registros Insertados: ', \n    string(\n        sub(\n            int(if(empty(activity('Get_After_Count').output.firstRow.record_count), '0', activity('Get_After_Count').output.firstRow.record_count)), \n            int(if(empty(activity('Get_Previous_Count').output.firstRow.record_count), '0', activity('Get_Previous_Count').output.firstRow.record_count))\n        )\n    ),\n    '\\n'\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"previous_counts": {
				"type": "Array"
			},
			"after_counts": {
				"type": "Array"
			},
			"inserted_records": {
				"type": "Array"
			},
			"table_list": {
				"type": "Array",
				"defaultValue": [
					"fctventa",
					"fct_matricula",
					"fct_venta"
				]
			},
			"temp_counts": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/General"
		},
		"annotations": []
	}
}